<%
  form_props = {
      resource: 'issue',
      inputs: {
          titulo: {
              label: 'Title',
              formStyle: 'oneLine'
          },
          descricao: {
              label: 'Description',
              component: 'textarea',
              formStyle: 'oneLine'
          }
      },
      action: project_issues_path(id: params[:id], project_id: params[:project_id]),
      otherButtons: [{
                     name: 'back',
                     href: project_path(id: @project.id),
                     element: 'a'
                 }]
  }

%>

<h2>New Issue</h2>
<%
  form = <<-JSX
    <Form #{jsx_spread(form_props)}>
    </Form>
  JSX
%>

<div class="card">
  <div class="card-content">
    <%= render_jsx(form) %>
  </div>
</div>
