.container .collapsible {
  border-width: 0;
  box-shadow: none;

  .collapsible-body, .collapsible-header {
    border-width: 0;
  }

  .collapsible-header {
    padding: 0;
  }
}

.app-header {
  background-color: #8769AC;

  a {
    font-size: 2rem;
  }
}