// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.issue-status {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  padding: 2px 5px;
  color: white;
}

.issues-panel {
  .input-switch {
    margin-bottom: 0;
    margin-top: 1.5rem;
    float: right;
  }

  .issues-panel__container {
    clear: both;
  }
}